body{
    text-align: center;
    font-size: 2.5vh;
    margin: 0;
    padding: 3 vh;
    
}
h1{
    text-align: center;
    }
.max  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.8 vh;
}
.box1{
    background-color: blueviolet;
    width: 30vh;
    min-height: 10vh;
    border-radius: 5%;
    margin-right: 0.2%;
    margin-bottom: 0;
    margin-top: 0.1%;
    padding-top: 2.5%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    word-wrap: break-word;
    /* box-sizing: border-box; */
    font-size: 3vh;
   
}
button{
    margin-top: 4%;
    padding: 2% 3%;
    background-color: rgba(255, 0, 0, 0.731);
    color: white;
    border-radius: 6%;
    border: 0;
    font-size: 3vh;
}
button:hover{
    background-color: red;
    cursor: pointer;
}
.result{
    margin-top: 8%;
    margin-bottom: 0;
}
.mark{
    background-color: black;
    color: antiquewhite;
}
.border{
    background-color: gold;
}
@media (max-width: 480px) {
    .box1{
        width: 45%;
    }
    body{
        font-size: 3vh;
    }
    button {
        font-size: 2vh;
        
    }
}
